@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu&display=swap');
:root{
    --primary: #42b983;
    --secondary:#2e4469;
    --background: #35495e;
    --black-text: rgba(61,61,61);
    --white-text: white;
    --button-hover: #38755a;
}
*{
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif
}
nav{
    background-color: var(--primary);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h1{
    color: var(--white-text);
    font-size: 2rem;
}
nav ul{
    display: flex;
}
nav ul li{
    border-right: solid .1rem rgba(61, 61, 61, 0.41);
}
nav ul li:last-child{
    border-right: none;
}
nav ul li a{
    color: var(--white-text);
    font-size: 1.2rem;
    padding: .8rem 1rem;
    text-transform: uppercase;
}
nav ul li a:hover{
    background-color: var(--background);
    transition: all .3s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.drawer{
    color: var(--white-text);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border:solid .1rem var(--white-text);
    padding: .2rem;
    border-radius: .1rem;

}


main{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    background: url(../img/inicio_fondo.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
}

main h1{
    font-size: 3rem;
    color: var(--black-text);
    text-align: center;
    margin: 1rem;
}

main p{
    color: var(--white-text);
    text-align: center;
    font-size: 1.8rem;
    margin: 1rem 0;
}

#footer{
    width: 100%;
    height: 85px;
    background: var(--primary);
    text-align: center;
    color: white;
    padding-top: 1%;
    }
@media(max-width:1200px){
    header h1{
        padding-left:20px ;
    }
    main{
        background-size: 50%;
    }
    nav ul li a{
        font-size: 12px;
    }
}
@media(max-width:768px){
    .checkbtn{
        display: block;
    }

    header label{
        display: block;
    }
    main .image2{
        width: 50%;
    }
    main .contenedor h1,p{

font-size:170%;
    }
    ul{
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: #38755a;
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #42b983;
    }
    #check:checked~ul{
        left:0;
        margin: 0;
    }
    .main{
       background: #35495e;
    }
    
}
@media(max-width:600px){
    .checkbtn{
        display: block;
    }

    header label{
        display: block;
    }
    main .image2{
        width: 50%;
    }
    main .contenedor h1,p{

    font-size:120%;
    }
    ul{
        position: fixed;
        flex-direction: column;
        width: 30%;
        height: 100vh;
        background: #38755a;
        top: 67px;
        left:-30%;
        text-align: center;
        transition: all .5s;
    }
    nav{
        background-color: var(--primary);
    height: 10vh;
    width: 120%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #42b983;
    }
    #check:checked~ul{
        left:0;
        margin: 0;
    }
    #footer{
        width: 120%;
        height: 300px;
        background: var(--primary);
        text-align: center;
        color: white;
        padding-top: 1%;
        }
    
}

